section {
  width: 98%;
  height: 800px;
  margin: 20px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background: #e0bd65e1;
  color: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}
h2 {
  font-size: 2rem;
  text-align: center;
}